
{% extends 'base.html' %}

{% block head %} 
<title>New Post</title>
{% endblock %}


{% block body %} 
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ENG-CJ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Me</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="https://www.facebook.com/abdulrahman.haaji.1" target="__blank">facebook</a>
            <a class="dropdown-item" href="https://wa.link/vyv8wc" target="__blank">Whatsapp</a>
            <a class="dropdown-item" href="https://github.com/ENG-CJ " target="__blank">Github</a>
          </div>
        </li>
      </ul>
     
    </div>
</nav>
<div class="container-fluid">
        <h1>New Post</h1>
        <hr>
        <h2>Create New Blog Post</h2>
        <form action="/posts" method="POST">
            Title: &nbsp; &nbsp;&nbsp;<input class="form-control" type="text" name="title" id="title" placeholder="Enter Title " aria-label="Search"> <br><br>
            Author: <input class="form-control" type="text" name="author" id="author" placeholder="Enter Author Of This Post" aria-label="Search"> <br> <br>
            <label for="content">Post</label>
             &nbsp;<textarea class="form-control" placeholder="What's On Your Mind?" id="content" name="content" rows="8"></textarea><br><br>
            <input type="submit" class="btn btn-secondary btn-lg" value="POST" style="text-align: center;  margin-left: 1%;">


        </form>

        <br>
        <hr>
</div>
{% endblock %} 